@import "../base/variables";

.footer {

    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    position: relative;
    &__logo {
        display: block;
        width: 69px;
        height: 60px;
        text-decoration: none;
        background: url(../img/logo-palisade-global.svg) center/contain no-repeat;
    }
    &__menu {
        padding-top: 57px;
        padding-bottom: 30px;
    }

    &__menu ul {
        display: flex;
        justify-content: center;
    }

    &__menu li {
        position: relative;
        padding-left: 29px;
        padding-right: 29px;
        &::before {
            content: '';
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #29c2e1;
            top: 6px;
            right: 0;
        }
    }

    &__menu li:last-child::before {
        display: none;
    }

    &__menu a {
        display: block;
        position: relative;
        font-size: 14px;
        color: #333333;
        letter-spacing: 0.001em;
        transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
        &:before {
            content: '';
            display: block;
            height: 1px;
            width: 0;
            background: #29c2e1;
            position: absolute;
            left: 50%;
            top: 100%;
            transform: translate(-50%, 0);
            transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
        }
        &:hover {
            color: #29c2e1;
            &:before {
                width: 100%;
            }
        }
    }

    &__logo-content {
        top: -45px;
        left: 50%;
        transform: translate(-50%, 0);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #fff;
    }

    &__copyright-content {
        display: flex;
        max-width: 1470px;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #cccccc;
    }

    &__copyright {
        font-size: 13px;
        color: #666666;
    }

    &__copyright span {
        font-weight: 700;
    }

    &__logos {
        display: flex;
        align-items: center;
    }

    &__logos p {
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        color: #666666;
        margin-right: 10px;
    }

    &__social {
        display: flex;
        align-items: center;
    }

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 25px;
        border: 1px solid #999999;
        border-radius: 3px;
        margin-right: 6px;
        transition: ease 0.3s;
        &:hover {
            transition: ease 0.3s;
            background-color: #999999;
        }
    }

    &__icon svg {
        fill: #666666;
        transition: ease 0.3s;
    }

    &__icon svg path {
        transition: ease 0.3s;
    }

    &__icon svg circle {
        transition: ease 0.3s;
    }

    &__icon svg rect {
        transition: ease 0.3s;
    }

    &__icon:hover svg path {
        fill: #fff;
        transition: ease 0.3s;
    }

    &__icon:hover svg circle {
        fill: #fff;
        transition: ease 0.3s;
    }

    &__icon:hover svg rect {
        fill: #fff;
        transition: ease 0.3s;
    }

    &__icon:last-child {
        margin-right: 0;
    }
}

.footer-line {
    border-top: 1px solid #c6c8c3;
}