@import "../base/variables";




.header-line {
    position: absolute;
    background: #29c2e1;
    height: 5px;
    width: 0;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 0.7s ease;
    will-change: width, transform;
    &.visible {
        width: 100%;
    }
}
.header {
    position: relative;
    //border-top: 5px solid #29c2e1;
    &::before {
        content: '';
        position: absolute;
        background-image: url("../img/shadow.png");
        width: 100%;
        height: 45px;
        background-size: cover;
        background-repeat: no-repeat;
        left: 0;
        top: 0;
        pointer-events: none;
    }

    &__logo {
        display: inline-block;
        margin: 0 auto;
        width: 171px;
        height: 145px;
        background: url(../img/logo-palisade-global.svg) center/contain no-repeat;
        img {
            max-width: 100%;
        }
        @media (max-width: 1440px) {
            width: 150px;
            height: 130px;
        }
    }

    &__logo-content {
        text-align: center;
        padding-top: 12px;
        padding-bottom: 20px;
        @media (max-width: 1440px) {
            padding-top: 8px;
            padding-bottom: 12px;
        }
    }

    &__menu {
        background-color: #072851;
        &.fixed {
            position: fixed;
            z-index: 10;
            left: 0;
            width: 100%;
            bottom: 100%;
        }
    }

    &__menu ul {
        display: flex;
        justify-content: center;
        max-width: 1050px;
        width: 100%;
        margin: 0 auto;
        padding: 13px 0 12px;
    }

    &__menu li {
        text-align: center;
        padding: 0 25px;
        border-right: 1px solid #2986b2;
        white-space: nowrap;
    }

    &__menu li:last-child {
        border-right: none;
    }

    &__menu a {
        display: inline-block;
        position: relative;
        font-size: 16px;
        color: #29c2e1;
        text-transform: uppercase;
        letter-spacing: 0.01em;
        transition: all 0.3s ease;
        //&:after {
        //    content: '';
        //    display: block;
        //    position: absolute;
        //    left: 0;
        //    top: 100%;
        //    width: 100%;
        //    height: 1px;
        //    transition: all 0.3s ease;
        //    background: #fff;
        //    opacity: 0;
        //    transform: translate(0, 5px);
        //}
        &:hover {
            color: #fff;
            //&:after {
            //    opacity: 1;
            //    transform: translate(0, 0);
            //}
        }
    }
}


.header-fixed {

}