@import "../base/variables";

.player {
    display: block;
    position: relative;
    overflow: hidden;
    &__overlay {
        //display: none;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.4s ease;
    }
    &__video {
        display: block;
        width: 100%;
    }
    &__play-pause {
        display: block;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 46px;
        height: 46px;
        overflow: hidden;
        border-radius: 50%;
        padding: 20px;
        box-sizing: content-box;
        background: #fff;
        cursor: pointer;
        .play-pause {
            overflow: hidden;
            position: relative;
            width: 100%;
            height: 100%;
            transition: all 0.25s ease;
            will-change: transform;
        }
        .left {
            height: 100%;
            float: left;
            background-color: $brandColor;
            width: 36%;
            transition: all 0.25s ease;
            overflow: hidden;
            will-change: width;
        }
        .triangle-1 {
            transform: translate(0, -100%);
        }
        .triangle-2 {
            transform: translate(0, 100%);
        }
        .triangle-1,
        .triangle-2 {
            position: absolute;
            top: 0;
            right: 0;
            background-color: transparent;
            width: 0;
            height: 0;
            border-right: 46px solid #fff;
            border-top: 23px solid transparent;
            border-bottom: 23px solid transparent;
            transition: transform 0.25s ease;
            will-change: transform;
        }
        .right {
            height: 100%;
            float: right;
            width: 36%;
            background-color: $brandColor;
            transition: all 0.25s ease;
            will-change: width;
        }
        &.paused {
            .play-pause {
                transform: translate(13%, 0);
            }
            .left {
                width: 50%;
            }
            .right {
                width: 50%;
            }
            .triangle-1 {
                transform: translate(0, -50%);
            }
            .triangle-2 {
                transform: translate(0, 50%);
            }
        }
    }
    &.playing {
        .player__overlay {
            opacity: 0;
        }
        &:hover {
            .player__overlay {
                opacity: 1;
            }
        }

        .controls {
            transform: translate(0, 120%);
        }
        &:hover {
            .controls {
                transform: translate(0, 0);
            }
        }
    }


    $progressPadding: 3px;
    $progressHeight: 4px;
    $bufferedBg: rgba(0,0,0,0.3);
    $btnW: 20px;
    $btnH: 20px;
    $volChangerW: 80px;
    $volChangerBg: rgba(0,0,0,0.5);
    .controls {
        position: absolute;
        z-index: 1;
        width: 100%;
        left: 0;
        bottom: 0;
        height: 42px;
        padding-top: 3+ $progressHeight + $progressPadding + $progressPadding;
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: space-between;

        transition: all 0.4s ease-in-out;
        will-change: transform;
        &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 120%;
            left: 0;
            bottom: 0;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#072851+0,072851+100&0+0,1+100 */
            background: -moz-linear-gradient(top,  rgba(7,40,81,0) 0%, rgba(7,40,81,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(7,40,81,0) 0%,rgba(7,40,81,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(7,40,81,0) 0%,rgba(7,40,81,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00072851', endColorstr='#072851',GradientType=0 ); /* IE6-9 */

        }
        .progressholder {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: $progressHeight;
            padding: $progressPadding 0;
            box-sizing: content-box;
            cursor: pointer;
            .buffered {
                position: absolute;
                z-index: 1;
                top: $progressPadding;
                left: 0;
                height: $progressHeight;
                width: 0;
                background: $bufferedBg;
            }
            .progress {
                position: absolute;
                z-index: 2;
                top: $progressPadding;
                left: 0;
                height: $progressHeight;
                width: 0;
                background: $brandColor;
                &.hidden {
                    opacity: 0;
                }
            }
            .progressorb {
                display: none;
                position: relative;
                top: 2px;
                //top: 50%;
                transform: translate(-50%, -50%);
                z-index: 3;
                width: 14px;
                height: 14px;
                border-radius: 50%;
                background: $brandColor;
            }
            &:hover {
                .progressorb {
                    display: block;
                }
            }
        }
        .playpause {
            position: relative;
            width: $btnW;
            height: $btnH;
            cursor: pointer;
            transition: all 0.2s ease;
            will-change: opacity;
            &:hover {
                opacity: 0.8
            }
            .play,
            .pause {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all 0.3s ease;
                will-change: opacity;
            }
            .play {
                opacity: 1;
                background: url(../img/icon-play.svg) center/contain no-repeat;
            }
            .pause {
                opacity: 0;
                background: url(../img/icon-pause.svg) center/contain no-repeat;
            }
            &.paused {
                .play {
                    opacity: 0;
                }
                .pause {
                    opacity: 1;
                }
            }
        }
        .fullscreen {
            position: relative;
            width: $btnW;
            height: $btnH;
            cursor: pointer;
            transition: all 0.2s ease;
            background: url(../img/icon-fullscreen.svg) center/contain no-repeat;
            background-size: 18px;
            &:hover {
                opacity: 0.8
            }
        }
        .volume {
            margin-right: auto;
            margin-left: 20px;
            cursor: pointer;
            height: $btnH;
            position: relative;
            &:hover {
                .volume-changer-wrap {
                    width: $volChangerW;
                }
            }
            &.muted {
                .volume-btn {
                    .no-mute {
                        opacity: 0;
                    }
                    .mute {
                        opacity: 1;
                    }
                }
                .volume-level {
                    opacity: 0;
                }
            }
        }
        .volume-btn {
            position: relative;
            width: $btnW;
            height: $btnH;
            transition: all 0.2s ease;
            will-change: opacity;
            &:hover {
                opacity: 0.8;
            }
            .no-mute,
            .mute {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                transition: all 0.3s ease;
                will-change: opacity;
            }
            .no-mute {
                opacity: 1;
                background: url(../img/icon-volume.svg) center/contain no-repeat;
            }
            .mute {
                opacity: 0;
                left: -2px;
                background: url(../img/icon-mute.svg) center/contain no-repeat;
            }
        }
        .volume-changer-wrap {
            position: absolute;
            width: 0;
            height: 20px;
            left: 100%;
            top: 50%;
            transform: translate(0, -50%);
            padding-left: 10px;
            transition: width 0.3s ease-in-out;
            overflow: hidden;
        }
        .volume-changer {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            left: 10px;
            height: 6px;
            padding: 7px 0;
            box-sizing: content-box;
            width: $volChangerW;
            opacity: 1;
            transition: opacity 0.1s ease;
            will-change: opacity;
            &:before {
                content: '';
                position: absolute;
                z-index: 0;
                left: 0;
                width: 100%;
                height: 6px;
                top: 50%;
                transform: translate(0, -50%);
                background: $volChangerBg;
            }
        }
        .volume-level {
            position: relative;
            z-index: 1;
            height: 6px;
            width: 50%;
            background: $brandColor;
        }
    }
}
#modal-video {
    width: 65%;
    margin: auto;
}
.fancybox-slide.modal-video {
    > * {
        background: none;
    }
    .fancybox-close-small {
        position: fixed;
    }
    .player {
        //margin: auto;
        //width: 60%;
    }
}