@import "../base/variables";

.ScrollMagicParallax {
    overflow: hidden;
}
.ScrollMagicParallax-image {
    height: 200%;
    position: relative;
    top: -50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}