@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald-light.eot');
    src: url('../fonts/oswald-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/oswald-light.woff') format('woff'),
    url('../fonts/oswald-light.woff2') format('woff2'),
    url('../fonts/oswald-light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald-regular.eot');
    src: url('../fonts/oswald-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/oswald-regular.woff') format('woff'),
    url('../fonts/oswald-regular.woff2') format('woff2'),
    url('../fonts/oswald-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald-medium.eot');
    src: url('../fonts/oswald-medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/oswald-medium.woff') format('woff'),
    url('../fonts/oswald-medium.woff2') format('woff2'),
    url('../fonts/oswald-medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald-semibold.eot');
    src: url('../fonts/oswald-semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/oswald-semibold.woff') format('woff'),
    url('../fonts/oswald-semibold.woff2') format('woff2'),
    url('../fonts/oswald-semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Oswald';
    src: url('../fonts/oswald-bold.eot');
    src: url('../fonts/oswald-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/oswald-bold.woff') format('woff'),
    url('../fonts/oswald-bold.woff2') format('woff2'),
    url('../fonts/oswald-bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/sourcesanspro-light.eot');
    src: url('../fonts/sourcesanspro-light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-light.woff') format('woff'),
    url('../fonts/sourcesanspro-light.woff2') format('woff2'),
    url('../fonts/sourcesanspro-light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/sourcesanspro-regular.eot');
    src: url('../fonts/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-regular.woff') format('woff'),
    url('../fonts/sourcesanspro-regular.woff2') format('woff2'),
    url('../fonts/sourcesanspro-regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/sourcesanspro-semibold.eot');
    src: url('../fonts/sourcesanspro-semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-semibold.woff') format('woff'),
    url('../fonts/sourcesanspro-semibold.woff2') format('woff2'),
    url('../fonts/sourcesanspro-semibold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url('../fonts/sourcesanspro-bold.eot');
    src: url('../fonts/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/sourcesanspro-bold.woff') format('woff'),
    url('../fonts/sourcesanspro-bold.woff2') format('woff2'),
    url('../fonts/sourcesanspro-bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}