@import "variables";


[data-animate="true"] {
    transform: translate(0, 50%);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;

    .animated {
        -webkit-animation-duration: 0.7s;
        animation-duration: 0.7s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }
    &.animate {
        opacity: 1;
        transform: translate(0, 0);
    }
}
[data-animate] {
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
[data-animate="fadeInUp"] {
    opacity: 0;
}