@import "base/normalize";
@import "base/variables";
@import "base/helpers";

@import "vendor/fancybox";
@import "vendor/flip-clock";
@import "vendor/slick";
@import "vendor/animate";

@import "components/header";
@import "components/footer";
@import "components/player";









.overflowHidden {
  overflow: hidden;
} 

body {
    font-family: 'SourceSansPro', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

h2 {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #072851;
    letter-spacing: 0.025em;
    white-space: nowrap;
    padding-right: 20px;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}


@keyframes btn-hover {
    0% {
        opacity: 1;
    }
    70% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

.btn {
    position: relative;
    display: inline-block;
    padding: 9px 20px;
    text-align: center;
    background-color: #29c2e1;
    border-radius: 30px;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.1em;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    overflow: hidden;
    span {
        z-index: 20;
    }
    &:after {
        position: absolute;
        content: "";
        height: 120px;
        width: 57px;
        left: -71px;
        top: -45px;
        opacity: .2;
        transform: rotate(35deg);
        background: #fff;
        z-index: -10;
        will-change: left;
        //transition: all 0.9s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 0.5s ease-in-out;
    }
    &:hover {
        &:after {
            left: 120%;
        }
    }
    &.btn--1 {
        background-color: #29c2e1;
        &:hover {
            //background-color: #2ed8fa;

        }
    }
    &.btn--2 {
        background-color: #072851;
        &:after {
            opacity: 0.1;
        }
        &:hover {
            //background-color: #0a3974;
        }
    }
    &.btn--home {
        display: block;
        width: 100%;
        max-width: 270px;
        margin: auto;
    }
}



.title {
    display: flex;
    align-items: center;
    overflow: hidden;
    &__text {
        display: flex;
        transition: transform 0.7s cubic-bezier(0.77, 0, 0.175, 1);
    }
    &[data-animate="title"] {
        .title__text {
            transform: translate(0, 100%);
        }
        .spacer {
            max-width: 0;
        }
        &.animate {
            .title__text {
                transform: translate(0, 0);
            }
            .spacer {
                max-width: 100%;
            }
        }
    }

    .spacer {
        width: 100%;
        height: 1px;
        background-color: #072851;
        margin-top: 0.4em;
        transition: max-width 1s cubic-bezier(0.77, 0, 0.175, 1);
    }
}




.intro {
    position: relative;
    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 30%;
        opacity: 0.3;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    }
    .container {
        position: relative;
        z-index: 1;
    }
    &.index {
        min-height: 560px;
        &:before {
            opacity: 0.9;
        }
    }
    height: 560px;
    min-height: 320px;
    max-height: calc(100vh - 300px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @media (max-width: 1440px) {
        max-height: calc(100vh - 270px);
    }
    &__info {
        position: relative;
        display: flex;
        justify-content: space-between;
        max-width: 325px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 15px;

        &::before {
            content: '';
            position: absolute;
            height: 40px;
            width: 2px;
            background-color: #333333;
            left: 50%;
            top: -15%;
            transform: translate(-50%, 0);
        }
    }

    &__info span {
        font-size: 16px;
        color: #333333;
    }

    &__calendar {
        display: flex;
        align-items: center;
        //border-right: 2px solid #333333;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
        padding-left: 40px;
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 45%;
            transform: translate(0, -50%);
            width: 31px;
            height: 31px;
            background: url(../img/icon-calendar.svg) center/contain no-repeat;
        }
    }

    &__calendar span {

    }

    &__mark {
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        position: relative;
        padding-left: 36px;
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            width: 31px;
            height: 31px;
            background: url(../img/icon-map-marker.svg) center/contain no-repeat;
        }
    }

    &__mark span {
        //padding-left: 10px;
    }

    &__content {
        position: relative;
        max-width: 800px;
        margin: 0 auto;
        padding-top: 65px;

        &::before {
            content: '';
            position: absolute;
            background-image: url("../img/border.png");
            width: 800px;
            height: 278px;
            background-size: cover;
            background-repeat: no-repeat;
            bottom: 20px;
        }
    }

    &__logo {
        text-align: center;
        padding-bottom: 17px;
    }

    &__logo img {
        max-width: 633px;
        width: 100%;
        height: auto;
    }

    &__panel {
        display: flex;
        max-width: 560px;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;
    }
}

.partners-line {
    position: absolute;
    top: 0;
    left: 50%;
    height: 5px;
    max-width: 0;
    width: 570px;
    transform: translate(-50%, 0);
    background-color: #29c2e1;
    transition: all 0.7s cubic-bezier(0.77, 0, 0.175, 1);
    &.animate {
        max-width: 570px;
    }
}
.partners {
    .container {
        position: relative;
        padding-top: 55px;
        padding-bottom: 75px;
        margin-top: -30px;
        background-color: #fff;
        &::before {

        }
    }

    &__content {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        display: inline-block;
        cursor: pointer;
        filter: grayscale(0);
        transition: all 0.3s ease;
        will-change: filter;
        &:hover {
            filter: grayscale(100%);
        }
    }
}

.speakers {

    &__grey {
        padding-top: 55px;
        background: #e0e0e0;
        padding-bottom: 23px;
    }

    #speaker-slider {
        padding-bottom: 60px;
    }

    .title {
        margin-bottom: 0;
    }

    &__slide {
        background-color: #e0e0e0;
    }

    &__slide.white {
        background-color: #fff;
        padding-top: 25px;
    }



    &__item {
        max-width: 1170px;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__image {
        position: relative;
        width: 540px;
        min-width: 450px;
        height: 390px;
        background-size: cover;
        background-repeat: no-repeat;
        margin-right: 30px;
        background-position: center;
        &::before {
            content: '';
            position: absolute;
            height: 255px;
            width: 10px;
            background-color: #29c2e1;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
        }
    }

    &__text {
        font-size: 18px;
        color: #333333;
        line-height: 30px;
        font-weight: 400;
        max-width: 540px;
        width: 100%;
    }

    &__text a {
        color: #3399cc;
        transition: ease 0.3s;
        &:hover {
            transition: ease 0.3s;
            opacity: 0.7;
        }
    }

    &__slide.white &__image {
        margin-right: 0;
        margin-left: 30px;

        &::before {
            content: '';
            position: absolute;
            right: auto;
            left: 0;
        }
    }

    &__name {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        position: absolute;
        display: block;
        bottom: 20px;
        padding: 2px 10px;
        background-color: #072851;
        color: #29c2e1;
        font-size: 24px;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        left: 0;
    }

    &__slide.white &__name {
        left: auto;
        right: 0;
    }
}

.venue {
    min-height: 605px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    &__content {
        position: absolute;
        width: 100%;
        max-width: 1110px;
        background-color: rgba(255,255,255,0.78);
        padding: 27px 30px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &::before {
            content: '';
            position: absolute;
            height: 5px;
            background-color: #29c2e1;
            width: 570px;
            left: 50%;
            top: 0;
            transform: translate(-50%, 0);
        }
    }

    .title {
        margin-bottom: 25px;
    }

    &__text {
        font-size: 18px;
        color: #333333;
        line-height: 30px;
    }

    &__text strong {
        display: block;
        font-weight: 400;
        color: #000;
        font-size: 24px;
        padding-bottom: 15px;
    }

    &__text p {
        padding-bottom: 25px;
    }

     &__text p:last-child {
        padding-bottom: 0;
     }
}

.shedule {
    .title {
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 29px;
    }

    .container {
        padding-top: 55px;
        padding-bottom: 30px;
    }

    .title img {
        margin-right: 9px;
    }

    &__panel {
        display: flex;
        justify-content: center;
        padding-bottom: 35px;
    }

    &__btn {
        position: relative;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        width: 85px;
        line-height: 40px;
        text-align: center;
        background-color: #cccccc;
        text-transform: uppercase;
        font-size: 24px;
        letter-spacing: 0.025em;
        color: #999999;
        transition: ease 0.3s;
        &:hover {
            transition: ease 0.3s;
            opacity: 0.7;
        }
    }

    &__btn.prev::before {
        content: '';
        position: absolute;
        border: 12px solid transparent; 
        border-right: 10px solid #cccccc;
        top: 50%;
        transform: translate(0, -50%);
        left: -22px;
        pointer-events: none;
    }

    &__btn.next::before {
        content: '';
        position: absolute;
        border: 12px solid transparent; 
        border-left: 10px solid #cccccc;
        top: 50%;
        transform: translate(0, -50%);
        right: -22px;
        pointer-events: none;
    }

    &__current-date {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        padding-left: 17px;
        padding-right: 17px;
        margin-right: 10px;
        margin-left: 10px;
        line-height: 40px;
        background-color: #072851;
        color: #29c2e1;
        font-size: 24px;
        letter-spacing: 0.025em;
        text-transform: uppercase;
    }

    &__list {
        max-width: 760px;
        width: 100%;
        margin: 0 auto;
    }

    &__item {
        position: relative;
        text-align: right;
        max-width: 366px;
        width: 100%;
        min-height: 170px;
    }

    &__item strong {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        display: block;
        font-size: 24px;
        text-transform: uppercase;
        color: #299ac2;
    }

    &__item h4 {
        display: block;
        font-size: 18px;
        color: #333333;
        font-weight: 700;
        padding-bottom: 8px;
    }

    &__spacer {
        width: 100px;
        height: 2px;
        margin-left: auto;
        margin-right: 1px;
        background-color: #197f9e;
        margin-bottom: 17px;
    }

    &__item p {
        font-size: 16px;
        color: #333333;
    }

    &__item--right {
        text-align: left;
        margin-left: auto;
    }

    &__item--right &__spacer {
        margin-left: 1px;
        margin-right: auto;
    }

    &__dots {
        position: absolute;
        right: -22px;
        top: 12px;
    }

    &__item--right &__dots {
        right: auto;
        left: -16px;
    }

    &__dot {
        width: 5px;
        height: 5px;
        background-color: #29c2e1;
        border-radius: 50%;
        margin-bottom: 10px;
    }

    &__dot.current {
        border: 5px solid #072851;
        width: 15px;
        height: 15px;
        margin-left: -5px;
    }

    &__image {
        position: absolute;
        left: 5px;
        top: -72px;
        width: 69px;
        height: 69px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
        &::before {
            content: '';
            position: absolute;
            width: 75px;
            height: 75px;
            border-radius: 50%;
            left: -3px;
            top: -3px;
            border: 2px solid #a3a3a3;
        }
    }
}

.subscribe {
    position: relative;
    min-height: 410px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &::before {
        content: '';
        position: absolute;
        background-image: url("../img/bg-overlay.png");
        width: 100%;
        height: 100%;
        background-repeat: repeat;
    }

    &__content {
        max-width: 950px;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        padding-left: 15px;
        padding-right: 15px;
    }

    &__content p {
        font-family: 'Oswald', sans-serif;
        font-weight: 400;
        color: #fff;
        font-size: 30px;
        letter-spacing: 0.025em;
        text-transform: uppercase;
        padding-bottom: 13px;
    }

    .intro__btn {
        display: block;
        will-change: transform;
        margin: 0 auto;
    }
}


.contacts {
  .container {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -30px;
    background-color: #fff;
    padding-top: 55px;
    padding-bottom: 200px;

    &::before {
      content: '';
      position: absolute;
      height: 5px;
      background-color: #29c2e1;
      width: 570px;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
    }
  }

  .title {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  &__main-text {
    font-size: 18px;
    color: #333333;
    padding-bottom: 8px;
  }

  &__main-text a {
    color: #00b9da;
  }

  &__link {
    display: inline-block;
    font-size: 18px;
    color: #00b9da;
    transition: ease 0.3s;
    margin-bottom: 30px;
    will-change: transform;
    &:hover {
      transition: ease 0.3s;
      opacity: 0.7;
    }
  }

  &__sub-title {
    display: block;
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    padding-left: 15px;
    padding-bottom: 32px;
  }

  &__input input {
    border: 1px solid #072851;
    height: 44px;
    width: 100%;
    font-size: 16px;
    color: #333333;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__input label {
    position: absolute;
    top: -12px;
    left: 16px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fff;
    font-size: 18px;
    color: #333333;
  }

  &__input {
    position: relative;
    width: 31.5%;
  }

  &__textarea {
    width: 100%;
    position: relative;
    margin-top: 40px;
  }

  &__textarea label {
    position: absolute;
    top: -12px;
    left: 16px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: #fff;
    font-size: 18px;
    color: #333333;
  }

  &__textarea textarea {
    border: 1px solid #072851;
    height: 150px;
    width: 100%;
    font-size: 16px;
    color: #333333;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__panel {
    max-width: 165px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    padding-top: 33px;
  }

  &__btn {
    width: 100%;
    background-color: #072851;
    line-height: 45px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    transition: ease 0.3s;

    &:hover {
      background-color: #29c2e1;
      transition: ease 0.3s;
    }
  }

  &__geo {
    font-size: 18px;
    color: #333333;
    padding-bottom: 30px;
  }

  &__geo strong {
    display: block;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 3px;
  }

  &__geo p {
    padding-bottom: 37px;
  }

  &__geo a {
    display: inline-block;
    color: #00b9da;
  }

  &__main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__about {
    width: 48%;
  }

  &__map-content {
    width: 48%;
  }

}


.gallery {
  .container {
    position: relative;
    padding-top: 55px;
    padding-bottom: 282px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    margin-top: -30px;

    &::before {
      content: '';
      position: absolute;
      height: 5px;
      background-color: #29c2e1;
      width: 570px;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
    }
  }

  .title {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  .title h2 {
    padding-right: 30px;
  }

  &__text {
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    padding-bottom: 55px;
  }

  &__row-2small {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
   
  }

  &__big-image {
    max-width: 750px;
    width: 100%;
    //width: 65.8%;
    //width: calc(67.11% - 15px);
    //height: 512px;
    padding-bottom: 45%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 30px;
  }

  &__col-img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 360px;
    width: 100%;
    flex-shrink: 2;
    //width: 31.6%;
    //width: calc(32.9% - 15px);
  }

   &__small-image {
    width: 100%;
    //height: 242px;
    padding-bottom: 67.2%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__row-2small &__small-image {
    margin-bottom: 30px;
  }

  &__row-2small &__small-image:last-child {
    margin-bottom: 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__row &__small-image {
    //width: calc(32.9% - 15px);
    max-width: 360px;
    width: 100%;
    padding-bottom: 21.25%;
    margin-right: 30px;
  }

  &__row &__small-image:last-child {
    margin-right: 0;
  }

  &__row-2small.reverse {
    flex-direction: row-reverse;
  }

  &__row-2small.reverse &__big-image {
    margin-left: 30px;
    margin-right: 0;
  }

  &__medium-image {
    width: calc(50% - 15px);
    padding-bottom: 33.07%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}


.speaker-inner {

  .title {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  .title h2 {
    padding-right: 40px;
  }

  .container {
    position: relative;
    padding-top: 55px;
    padding-bottom: 207px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    margin-top: -30px;

    &::before {
      content: '';
      position: absolute;
      height: 5px;
      background-color: #29c2e1;
      width: 570px;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
    }
  }

  .container.post-conference {
    padding-bottom: 75px;
  }

  &__text {
    font-size: 18px;
    line-height: 30px;
    color: #333333;
    padding-bottom: 30px;
  }

  &__text span {
    font-weight: 700;
    padding-right: 5px;
  }

  &__text-link {
    display: inline-block;
    font-weight: 700;
    color: #333333;
    font-style: italic;
    border-bottom: 1px solid #333333;
    transition: ease 0.3s;
    line-height: 18px;

    &:hover {
      border-bottom: 1px solid transparent;
      transition: ease 0.3s;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 70px;
  }

  &__item {
    width: calc(50% - 40px);
  }

  &__image {
    position: relative;
    width: 100%;
    padding-bottom: 75.5%;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
  }

  &__item &__text {
    padding-bottom: 4px;
  }

  &__text-content &__text {
    padding-bottom: 30px;
  }

  &__text-content span {
    display: block;
    font-size: 18px;
    color: #333333;
    padding-bottom: 5px;
    padding-top: 3px;
  }

  &__text-content span:last-child {
    padding-bottom: 35px;
  }

  &__text-content &__text:last-child {
    padding-bottom: 4px;
  }

  &__item-link {
    display: inline-block;
    font-size: 18px;
    color: #00b9da;
    transition: ease 0.3s;
    will-change: transform;

    &:hover {
      transition: ease 0.3s;
      opacity: 0.6;
    }
  }

  &__name {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    position: absolute;
    display: block;
    bottom: 20px;
    padding: 2px 10px;
    background-color: #072851;
    color: #29c2e1;
    font-size: 24px;
    letter-spacing: 0.025em;
    text-transform: uppercase;
    left: 0;
    min-width: 255px;
  }

  h4 {
    font-size: 24px;
    color: #072851;
    font-weight: 400;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
  }

  &__sub-title {
    display: block;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    color: #00bbdc;
    padding-bottom: 3px;
  }

  &__list--post {
    padding-bottom: 0;
  }

  &__list--post &__item {
    padding-bottom: 70px;
  }

  &__list-wrap {
    margin-top: -30px;
  }
}

.sponsor {
  
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
  }

  &__image {
    min-width: 340px;
    max-width: 340px;
    background-size: contain;
    min-height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 50px;
  }

  &__text {
    font-size: 18px;
    color: #333333;
    line-height: 30px;
  }

  &__text span {
    color: #00b9da;
  }

  &__link {
    display: inline-block;
    font-weight: 700;
    font-style: italic;
    color: #333333;
    border-bottom: 1px solid #333333;
    transition: ease 0.3s;
    line-height: 18px;

    &:hover {
      border-bottom: 1px solid transparent;
      transition: ease 0.3s;
    }
  }
}



.details {
  h2.wrap {
    white-space: normal;
    text-align: center;
  }

  .title {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
  }

  .title h2 {
    padding-right: 40px;
  }

  .container {
    position: relative;
    padding-top: 55px;
    padding-bottom: 400px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #fff;
    margin-top: -30px;

    &::before {
      content: '';
      position: absolute;
      height: 5px;
      background-color: #29c2e1;
      width: 570px;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
    }
  }

  &__video-content {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 70px;
  }

  &__video-content &__text {
    margin-top: -8px;
    max-width: 356px;
    width: 100%;
  }

  &__video {
    max-width: 751px;
    width: 100%;
    margin-right: 30px;
  }

  &__video img {
    display: block;
    max-width: 751px;
    width: 100%;
    height: auto;
  }

  strong {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    color: #00bbdc;
    font-family: 'Oswald', sans-serif;
    padding-bottom: 4px;
  }

  &__text p {
    font-size: 18px;
    color: #333333;
    line-height: 30px;
    padding-bottom: 30px;
  }

  &__text p:last-child {
    padding-bottom: 4px;
  }

  &__text--video p {
    padding-bottom: 0;
  }

  &__link {
    display: inline-block;
    font-size: 18px;
    color: #00b9da;
    transition: ease 0.3s;
    will-change: transform;
    margin-top: 25px;

    &:hover {
      transition: ease 0.3s;
      opacity: 0.6;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    width: calc(50% - 40px);
    padding-bottom: 67px;
  }

  &__item.no-padding {
    padding-bottom: 0;
  }

  &__item &__link {
    margin-top: 0;
  }

  &__image {
    width: 100%;
    padding-bottom: 75.5%;
    background-size: cover;
    background-position: center;
    margin-bottom: 15px;
  }

  &__text p span {
    padding-bottom: 0;
  }

  &__text span {
    display: block;
    font-size: 18px;
    color: #333333;
    line-height: 30px;
    padding-bottom: 32px;
  }

  &__text .underline {
    display: inline-block;
    color: #00bbdc;
    border-bottom: 1px solid #00bbdc;
    line-height: 18px;
  }

  &__logo {
    display: inline-block;
  }

  &__about-item {
    width: calc(50% - 40px);
  }

  &__about-list {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    margin-bottom: 17px;
  }

  &__contacts span {
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    color: #00bbdc;
    padding-bottom: 8px;
  }

  &__contacts p {
    font-size: 18px;
    color: #333333;
    padding-bottom: 7px;
  }

  &__contacts {
    padding-bottom: 10px;
  }

  &__contacts:last-child {
    padding-bottom: 0;
  }

  &__gallery-image {
    display: block;
    width: calc(50% - 15px);
    padding-bottom: 33.2%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 36px;
  }

  &__gallery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 33px;
  }

  &__map-content {
    width: calc(50% - 40px);
  }

  &__geo {
    padding-top: 27px;
  }

  &__geo strong {
    font-family: 'SourceSansPro', sans-serif;
    display: block;
    font-size: 18px;
    color: #333333;
    font-weight: 700;
    text-transform: none;
    padding-top: 5px;
  }

  &__geo p {
    font-size: 18px;
    color: #333333;
    line-height: 30px;
  }

  &__geo p a {
    display: inline-block;
    color: #00bbdc;
    border-bottom: 1px solid #00bbdc;
    line-height: 18px;
    transition: ease 0.3s;

    &:hover {
      transition: ease 0.3s;
      border-bottom: 1px solid transparent;
    }
  }

  &__about-container {
    display: none;
  }

}



@media (min-width: 1480px) {
    //.intro {
    //    background-position: bottom;
    //}
}

@media (max-width: 1170px) {
    .venue {
        &__content {
            width: 94%;
        }
    }

    .partners {
        &__logo img {
            width: 80%;
            height: auto;
        }
    }

    .details {
      &__video-content {
        align-items: center;
      }
    }
}

@media (max-width: 950px) {
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }

    .header {

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__logo-content {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        &__logo-content {
            width: 94px;
        }

         &__logo {
            width: 94px;
         }

        &__logo img {
            width: 100%;
            height: auto;
        }

        &__menu {
            position: relative;
            position: fixed;
            padding-top: 90px;
            box-sizing: border-box;
            z-index: 9999;
            top: 0;
            left: 100%;
            height: 100%;
            width: 100%;
            overflow: auto;
            transform: translate(0, 0);
            transition: transform 0.4s ease;
            background-color: #072851;
        }

        &__menu ul {
            flex-direction: column;
            text-align: center;
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
            padding: 0;
        }

        &__menu li {
            margin-bottom: 25px;
            border-right: none;
            padding-left: 0;
            padding-right: 0;
        }

        &__menu.active {
            transform: translate(-100%, 0);
        }
        
        
        .burger-mob {
            background: #072851;
            width: 30px;
            height: 2px;
            top: 50%;
            left: 50%;
            transform: translate(0%,-50%);
            margin-top: -2px;
            border-radius: 5px;
        }

        .burger-mob::before {
            content: "";
            position: absolute;
            background: #072851;
            width: 30px;
            height: 2px;
            top: 9px;
            display: block;
            border-radius: 5px;
        }

        .burger-mob::after {
            content: "";
            position: absolute;
            background: #072851;
            width: 30px;
            height: 2px;
            bottom: 9px;
            display: block;
            border-radius: 5px;
        }
        

        .mobile-menu-close {
            display: block;
            position: fixed;
            top: 20px;
            right: 25px;
            width: 35px;
            height: 35px;
        }

        .mobile-menu-close .cross {
            position: absolute;
            top: 10px;
            height: 4px;
            margin-top: -2px;
            left: 0;
            width: 100%;
        }
        .mobile-menu-close .cross:before {
            content: "";
            display: block;
            position: absolute;
            background: #fff;
            width: 35px;
            height: 2px;
            top: 12px;
            border-radius: 2px;
            transform: rotate(-45deg);
        }
        .mobile-menu-close .cross:after {
            content: "";
            display: block;
            position: absolute;
            background: #fff;
            width: 35px;
            height: 2px;
            top: 12px;
            border-radius: 2px;
            transform: rotate(45deg);
        }
    }

    .speakers {
        &__image {
            margin-right: 20px;
            min-width: 380px;
        }
    }

    .partners {
        &__content {
            padding-left: 0;
            padding-right: 0;
        }

        .container {
            margin-top: 0;
        }
    }

    .intro {
        min-height: 0;
        .flip-clock-wrapper {
            padding-bottom: 25px;
        }
    }

    .intro-inner {
      min-height: 500px;
    }

    .contacts {
      .container {
        margin-top: 0;
        padding-top: 30px;

        &::before {
          display: none;
        }
      }
    }

    .gallery {
      .container {
        margin-top: 0;
        padding-top: 30px;

        &::before {
          display: none;
        }
      }
    }

    .speaker-inner {
      .container {
        margin-top: 0;
        padding-top: 30px;

        &::before {
          display: none;
        }
      }
    }

    .details {
      .container {
        margin-top: 0;
        padding-top: 30px;

        &::before {
          display: none;
        }
      }

      &__video-content {
        flex-direction: column;
        align-items: center;
      }

      &__video {
        margin: 0 auto;
        margin-bottom: 30px;
      }
    }
}

@media (max-width: 880px) {
    .intro {
        &__content::before {
            display: none;
        }
    }

    .footer {
        &__menu ul {
            justify-content: space-between;
        }

        &__menu li {
            padding: 0;

            &::before {
                display: none;
            }
        }
    }

    .speakers {
        &__item {
            flex-direction: column;
            padding-bottom: 25px;
        }

        &__image {
            max-width: 540px;
            width: 100%;
            min-width: 0;
            margin-right: 0;
            margin-bottom: 25px;
        }

        &__slide.white .speakers__image {
            margin-left: 0;
        }

        &__image::before {
            display: none;
        }

        &__slide.white &__item{
            flex-direction: column-reverse;
        }
    }

    .speaker-inner {
      &__item {
        width: calc(50% - 20px);
      }
    }

    .sponsor {
      &__image {
        min-width: 220px;
        max-width: 220px;
      }
    }

    .contacts {
      &__main-content {
        flex-direction: column;
      }

      &__map-content {
        display: flex;
        flex-direction: column-reverse;
      }

      &__about {
        width: 100%;
      }

      &__geo {
        padding-bottom: 0;
      }

      &__map-content {
        width: 100%;
        padding-bottom: 25px;
      }
    }

    .details {
      &__item {
        width: calc(50% - 20px);
      }

      &__about-item {
        width: calc(50% - 20px);
      }

      &__map-content {
        width: calc(50% - 20px);
      }
    }
}

@media (max-width: 824px) {
    
    h2 {
        white-space: normal;
        padding-right: 0;
    }

    .title .spacer {
        display: none;
    }

    .title {
        justify-content: flex-start;
    }

    .shedule {
        
        &__item {
            max-width: none;
            width: 95%;
        }


        &__item--right {
            margin-right: auto;
            margin-left: 0;
            text-align: right;
        }

        &__item--right .shedule__dots {
            right: -22px;
            left: auto;
        }

        &__item--right .shedule__spacer {
            margin-left: auto;
            margin-right: 1px;
        }

        &__image {
            display: none;
        }
    }

    .partners {
        .container::before {
            width: 60%;
        }
    }

    .venue {
        &__content::before {
            width: 60%;
        }
    }

    .contacts {
      &__form {
        flex-direction: column;
        align-items: center;
      }

      &__input {
        width: 100%;
        margin-top: 40px;
      }

      &__input:first-child {
        margin-top: 0;
      }
    }
}

@media (max-width: 680px) {
    h2 {
        font-size: 26px;
    }

    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .speakers {
        &__item {
            padding-left: 15px;
            padding-right: 15px;
        }

        &__text {
            font-size: 16px;
        }
    }

    .footer {
        &__menu ul {
            flex-direction: column;
            align-items: center;
        }

        &__menu li {
            margin-bottom: 20px;
        }

        &__menu li:last-child {
            margin-bottom: 0;
        }

        &__copyright-content {
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
        }

        &__logos {
            margin-bottom: 20px;
        }
    }

    .subscribe {
        &__content p {
            font-size: 24px;
        }
    }

    .intro {
        &__btn {
            font-size: 20px;
        }

        &__btn.color-blue {
            margin-left: 15px;
        }
    }

    .partners {
        &__content {
            flex-wrap: wrap;
            justify-content: space-around;
            padding-top: 10px;
        }

        &__logo {
            width: 35%;
            margin-top: 25px;
        }
    }
    .venue {
        min-height: 630px;
        &__text {
            font-size: 16px;
        }

        &__text p {
            padding-bottom: 20px;
        }

        &__text strong {
            font-size: 20px;
        }

        &__content {
            padding-left: 15px;
            padding-right: 15px;
        }
    }

    .shedule .title {
        padding-left: 0px;
        padding-right: 0px;
    }

    .contacts {
      &__panel {
        margin: 0 auto;
      }
    }

    .intro-inner {
      min-height: 400px;
    }

    .gallery {
      &__big-image {
        margin-right: 15px;
      }

      &__row-2small .gallery__small-image {
        margin-bottom: 15px;
      }

      &__row-2small {
        margin-bottom: 15px;
      }

      &__row .gallery__small-image {
        margin-right: 15px;
      }

      &__row-2small.reverse .gallery__big-image {
        margin-left: 15px;
      }

      &__row {
        margin-bottom: 15px;
      }

      &__medium-image {
        width: calc(50% - 7px);
      }

      .container {
        padding-bottom: 150px;
      }
    }

    .speaker-inner {
      &__list {
        flex-direction: column;
        align-items: center;
      }

      &__item {
        width: 100%;
        margin-bottom: 50px;
      }

      &__item:last-child {
        margin-bottom: 0;
      }

      &__list--post .speaker-inner__item {
        margin-bottom: 0;
      } 
    }

    .sponsor {
      &__item {
        flex-direction: column;
        align-items: center;
      }

      &__image {
        margin-right: 0;
      }
    }

    .details {
    .container {
      padding-bottom: 160px;
    }

      &__list {
        flex-direction: column;
        align-items: center;
      }

      &__item {
        width: 100%;
        padding-bottom: 40px;
      }

      &__about-list {
        flex-direction: column;
        align-items: center;
      }

      &__about-item {
        width: 100%;
      }

      &__map-content {
        width: 100%;
      }
    }
}

@media (max-width: 560px) {
    .shedule {
        &__btn {
            font-size: 18px;
            width: 65px;
        }

        &__current-date {
            font-size: 18px;
        }
    }

    .gallery {
      &__big-image {
        margin-bottom: 15px;
        margin-right: 0;
        padding-bottom: 60%;
        margin-bottom: 10px;
      }

      &__col-img {
        flex-direction: row;
        width: 100%;
        max-width: none;
      }

      &__small-image {
        width: calc(50% - 5px);
        margin-bottom: 0;
        padding-bottom: 35.2%;
      }

      .gallery__row-2small .gallery__small-image {
        margin-bottom: 0;
      }

      &__row .gallery__small-image {
        margin-right: 10px;
      }

      &__row-2small {
        flex-direction: column;
        margin-bottom: 10px;
      }

      &__row-2small.reverse {
        flex-direction: column;
      }

      &__row-2small.reverse .gallery__big-image {
        margin-left: 0;
      }

      &__row {
        margin-bottom: 10px;
      }

      &__medium-image {
        width: calc(50% - 5px);
      }

      &__list {
        margin-left: -15px;
        margin-right: -15px;
      }

    }
    
    .speaker-inner {
      .container {
        padding-bottom: 80px;
      }

      &__list--post .speaker-inner__item {
        padding-bottom: 40px;
      }

      &__list--post .speaker-inner__item {
        margin-bottom: 0;
      }

      .container.post-conference {
        padding-bottom: 40px;
      }

      &__list {
        padding-bottom: 50px;
      }
    }
    
}

@media (max-width: 460px) {
    .speakers {
        

        &__image {
            height: 330px;
        }

        &__name {
            font-size: 20px;
        }

        .slick-dots {
            padding-top: 0;
        }

        #speaker-slider {
            padding-bottom: 55px;
        }
    }

    .partners {
        &__logo img {
            width: 95%;
        } 
    }

    .intro {
        &__btn {
            font-size: 18px;
        }

        &__content {
            padding-top: 40px;
        }

        &__info {
            max-width: 310px;
        }

        &__calendar {
            padding-right: 15px;
        }

        .flip-clock-divider .flip-clock-label {
            font-size: 11px;
        }

        .flip-clock-divider .flip-clock-label {
            left: 28px;
        }

        .flip-clock-divider.hours .flip-clock-label {
            left: 37px;
        }

        .flip-clock-divider.minutes .flip-clock-label {
            left: 25px;
        }

        .flip-clock-wrapper ul li a div div.inn {
            font-size: 38px;
        }

        .flip-clock-wrapper ul {
            width: 40px;
            height: 60px;
        }

        .flip-clock-wrapper ul li {
            line-height: 60px;
        }

        .flip-clock-divider {
            height: 82px;
        }
    }

    .shedule {
        &__btn {
            font-size: 16px;
            width: 50px;
        }

        &__current-date {
            font-size: 16px;
            padding-left: 5px;
            padding-right: 5px;
            margin-right: 5px;
            margin-left: 5px;
        }
    }

    .venue {
        min-height: 700px;
    }

    .intro-inner {
      min-height: 350px;
    }
}

@media (max-width: 365px) {
    .intro {
        &__info span {
            font-size: 14px;
        }

        &__btn {
            font-size: 16px;
        } 

        .flip-clock-wrapper ul li a div div.inn {
            font-size: 34px;
        } 

        .flip-clock-wrapper ul {
            width: 35px;
            height: 55px;
        }

        .flip-clock-wrapper ul li {
            line-height: 55px;
        }

        .flip-clock-divider .flip-clock-label {
            font-size: 10px;
        }

        .flip-clock-divider .flip-clock-label {
            left: 25px;
        }

        .flip-clock-divider.hours .flip-clock-label {
            left: 34px;
        }

        .flip-clock-divider.minutes .flip-clock-label {
            left: 13px;
        }

        .flip-clock-divider {
            height: 77px;
        }
    }

    .shedule {
        &__item p {
            font-size: 14px;
        }
    }

    .speakers {
         #speaker-slider {
            padding-bottom: 45px;
        }
    }

    .venue {
        &__content {
            padding-top: 15px;
            padding-bottom: 15px;
        }

        &__text p {
            padding-bottom: 15px;
        }

        .title {
            padding-bottom: 15px;
        }
    }

    
} 